@font-face {
    font-family:SpecialElite;
    src:url(fonts/SpecialElite.ttf);
}

body {
    color: #69ff00;
    font-size: 18px;
    background: url(img/3.jpg) fixed;
    background-size: cover;
}
h1{
    font-family: SpecialElite;

}
#rm {
    font-size: 95px;
    color: #aa0e0e;
    text-indent: 420px;
}

#of {
    color: #aa0b0b;
    font-size: 50px;
    text-indent: 600px;
}

#pr {
    font-size: 40px;
}

#ep {
    font-size: 40px;
}

.ur>a:hover {
    color: #a9f704;
    font-style: italic;
}
